

<h1>Notes</h1>
<%= link_to 'New Notes', new_note_path %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<br>
<br>

<% @notes.each do |note| %>
  <div style="border: 1px solid black; background-color: #add8e6; width: 400px">
    <h3><%= note.description %></h3>
    <%= time_ago_in_words(note.created_at) %> ago by <%= note.user.email %>
    <br>

    <%= link_to 'Edit', edit_note_path(note) %>

    <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are You Sure?' } %>
    <% if note.comments.any?%>
    <h4>Comments</h4>

      <%= render note.comments %>
      <% end %>



        <hr>

    <p>Add Comments</p>

    <%= form_for([note, note.comments.build]) do |f| %>
      <%= f.text_area :content %>
      <%= submit_tag "Add" %>
      <% end %>

  </div>

  <br>
  <br>
<% end %>
