<h4> Comments </h4>

         <%= render note.comments %>

       <% end %>
<hr>
       <p> Add Your Points : As comments here -- </p>
       <%= form_for([note, note.comments.build]) do |f| %>
         <%= f.text_area :content %>
         <%= submit_tag "Add" %>
       <% end %> 
